@use '../utils/colors' as c;
@use '../utils/mixins' as m;

%button-base {
  @include m.text-style(700, 16px, 1.88, 0.06em);
  padding-block: 10px;
  color: c.getColor('primary-bg');
  background-color: c.getColor('accent');
  border: none {
    radius: 4px;
  }
  box-shadow: c.getColor('btn-input-shadow');
  transition: background-color var(--tra);

  &:hover,
  &:focus {
    background-color: c.getColor('button-active');
  }
}

.button--wide {
  @extend %button-base;
  min-width: 216px;
  padding-inline: 24px;
}

.button--with-icon {
  @include m.flex-alignment(align-items, 14px);
  @extend %button-base;
  width: 200px;
  padding-inline: 28px;
}

.button--medium {
  @extend %button-base;
  display: block;
  min-width: 200px;
  margin-inline: auto;
  padding-inline: 32px;
}
