%button-base {
  padding-block: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: getColor('primary-bg');
  background-color: getColor('accent');
  border: none {
    radius: 4px;
  }
  box-shadow: getColor('btn-input-shadow');
  transition: background-color var(--tra);

  &:hover,
  &:focus {
    background-color: getColor('button-active');
  }
}

.button--wide {
  @extend %button-base;
  min-width: 216px;
  padding-inline: 24px;
}

.button--with-icon {
  @include flex-alignment(align-items, 14px);
  @extend %button-base;
  width: 200px;
  padding-inline: 28px;
}

.button--medium {
  @extend %button-base;
  display: block;
  min-width: 200px;
  margin-inline: auto;
  padding-inline: 32px;
}
