@use '../utils/colors' as c;
@use '../utils/mixins' as m;

.lead-form__group {
  margin-bottom: 20px;
}

.lead-form__slogan {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.17;
  color: c.getColor('title-text');
  text-align: center;
}

.lead-form__field {
  position: relative;
  display: block;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.lead-form__label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.lead-form__input {
  @include m.bordered('input-border');
  display: block;
  width: 100%;
  padding: {
    left: 42px;
    right: 16px;
    block: 12px;
  }
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: c.getColor('title-text');
  outline: transparent;
  transition: border-color var(--tra);

  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: c.getColor('input-placeholder');
  }

  &:focus {
    border-color: c.getColor('accent');
  }

  &--comment {
    @extend .lead-form__input;
    height: 120px;
    padding-left: 16px;
  }
}

.lead-form__icon {
  @include m.position(top, 38px, left, 12px);
  fill: c.getColor('title-text');
  transform: translateY(-50%);
  transition: fill var(--tra);

  .lead-form__field:focus-within > & {
    fill: c.getColor('accent');
  }
}
