@use '../utils/colors' as c;
@use '../utils/mixins' as m;
@use '../components/policy';

.lead-form__group {
  margin-bottom: 20px;
}

.lead-form__slogan {
  @include m.text-style(700, 20px, 1.17);
  margin-bottom: 12px;
  color: c.getColor('title-text');
  text-align: center;
}

.lead-form__field {
  position: relative;
  display: block;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.lead-form__label {
  @include m.text-style(400, 12px, 1.17, 0.01em);
  display: block;
  margin-bottom: 4px;
}

.lead-form__input {
  @include m.text-style(400, 12px, 1.17, 0.01em);
  @include m.bordered('input-border');
  display: block;
  width: 100%;
  padding: {
    left: 42px;
    right: 16px;
    block: 12px;
  }
  color: c.getColor('title-text');
  outline: transparent;
  transition: border-color var(--tra);

  &::placeholder {
    @include m.text-style(400, 12px, 1.17, 0.01em);
    color: c.getColor('input-placeholder');
  }

  &:focus {
    border-color: c.getColor('accent');
  }

  &--comment {
    @extend .lead-form__input;
    height: 120px;
    padding-left: 16px;
  }
}

.lead-form__icon {
  @include m.position(top, 38px, left, 12px);
  fill: c.getColor('title-text');
  transform: translateY(-50%);
  transition: fill var(--tra);

  .lead-form__field:focus-within > & {
    fill: c.getColor('accent');
  }
}
