%logo {
  font: {
    family: Raleway, sans-serif;
    weight: 700;
    size: 26px;
  }
  line-height: 1.19;
  transition: color var(--tra);

  &:hover,
  &:focus {
    color: getColor('accent');
  }
}

.nav__logo {
  @extend %logo;
  display: block;
  padding-block: 24px;
  color: getColor('title-text');
}

.page-footer__logo {
  @extend %logo;
  display: inline-block;
  margin-bottom: 20px;
  color: getColor('primary-bg');
}

.logo__accent {
  color: getColor('accent');
}
