@use '../utils/colors' as c;
@use '../utils/mixins' as m;

.policy {
  @include m.flex-centered;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  &__checkbox {
    position: absolute;
    appearance: none;
  }

  &__link {
    margin-left: 5px;
    color: c.getColor('accent');
    text-decoration: underline;
  }
}

.policy__icon-wrap {
  @include m.bordered('title-text', 2px);
  display: flex;
  align-items: center;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  transition: background-color var(--tra), border-color var(--tra);

  .policy__checkbox:focus + & {
    outline: 1px solid c.getColor('base-dark');
  }

  .policy__checkbox:checked + & {
    background-color: c.getColor('accent');
    border-color: c.getColor('accent');
  }
}
