.filter {
  @include set-gap(8px);
  justify-content: center;
  margin-bottom: 50px;

  &__input {
    position: absolute;
    appearance: none;
  }
}

.filter__label {
  display: inline-block;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: getColor('title-text');
  background-color: getColor('additional-bg');
  border-radius: 4px;
  cursor: pointer;
  transition: color var(--tra), background-color var(--tra),
    box-shadow var(--tra);

  &:hover {
    color: getColor('primary-bg');
    background-color: getColor('accent');
    box-shadow: getColor('filter-btn-shadow');
  }

  .filter__input:checked + & {
    color: getColor('primary-bg');
    background-color: getColor('button-active');
    box-shadow: getColor('filter-btn-shadow');
  }

  .filter__input:focus + & {
    outline: 2px solid getColor('base-dark');
  }
}
