@use '../utils/colors' as c;
@use '../utils/mixins' as m;

.filter {
  @include m.flex-alignment(justify-content, 8px);
  margin-bottom: 50px;

  &__input {
    position: absolute;
    appearance: none;
  }
}

.filter__label {
  display: inline-block;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: c.getColor('title-text');
  background-color: c.getColor('additional-bg');
  border-radius: 4px;
  cursor: pointer;
  transition: color var(--tra), background-color var(--tra),
    box-shadow var(--tra);

  &:hover {
    color: c.getColor('primary-bg');
    background-color: c.getColor('accent');
    box-shadow: c.getColor('filter-btn-shadow');
  }

  .filter__input:checked + & {
    color: c.getColor('primary-bg');
    background-color: c.getColor('button-active');
    box-shadow: c.getColor('filter-btn-shadow');
  }

  .filter__input:focus + & {
    outline: 2px solid c.getColor('base-dark');
  }
}
