.section {
  padding-block: 94px;

  &--colored {
    @extend .section;
    background-color: getColor('additional-bg');
  }

  &--padding-bottom {
    @extend .section;
    padding-top: 0;
  }

  &__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    color: getColor('title-text');
    text-align: center;
  }
}
