@use '../utils/colors' as c;
@use '../utils/mixins' as m;

.section {
  padding-block: 94px;

  &--colored {
    @extend .section;
    background-color: c.getColor('additional-bg');
  }

  &--padding-bottom {
    @extend .section;
    padding-top: 0;
  }

  &__title {
    @include m.text-style(700, 36px, 1.17);
    margin-bottom: 50px;
    color: c.getColor('title-text');
    text-align: center;
  }
}
