.section {
  padding-top: 94px;
  padding-bottom: 94px;

  &--colored {
    background-color: var(--additional-bg-color);
  }

  &--padding-bottom {
    padding-top: 0;
  }

  &__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    color: var(--title-text-color);
    text-align: center;
  }
}
