.socials {
  @include set-gap(10px);
  justify-content: center;
}

%socials__link {
  @include circle(44px);
}

.socials__link--team {
  @extend %socials__link;
  color: getColor('socials-link');
  background-color: getColor('primary-bg');
  transition: color var(--tra), background-color var(--tra);

  &:hover,
  &:focus {
    color: getColor('primary-bg');
    background-color: getColor('accent');
  }
}

.socials__link--footer {
  @extend %socials__link;
  color: getColor('primary-bg');
  background-color: getColor('socials-link-bg');
  transition: background-color var(--tra);

  &:hover,
  &:focus {
    background-color: getColor('accent');
  }
}
