@use '../utils/colors' as c;

body {
  font-family: Roboto, sans-serif;
  color: c.getColor('primary-text');
  background-color: c.getColor('primary-bg');
}

h1,
h2,
h3,
p {
  margin-block: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
