@use '../utils/colors' as c;

@mixin set-gap($gap, $display: flex) {
  display: $display;
  gap: $gap;
}

@mixin flex-alignment($property, $gap) {
  @include set-gap($gap);
  #{$property}: center;
}

@mixin flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin circle($size) {
  @include flex-centered;
  width: $size;
  height: $size;
  border-radius: 50%;
}

@mixin bordered($key, $radius: 4px) {
  border: 1px solid c.getColor($key);
  border-radius: $radius;
}

@mixin partial-bordered($key) {
  border-inline: 1px solid c.getColor($key);
  border-bottom: 1px solid c.getColor($key);
}

@mixin position(
  $x-property,
  $x-value,
  $y-property,
  $y-value,
  $position: absolute
) {
  position: $position;
  #{$x-property}: $x-value;
  #{$y-property}: $y-value;
}

@mixin text-style(
  $font-weight,
  $font-size,
  $line-height,
  $letter-spacing: 0.03em
) {
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}
