.clients {
  @include set-gap(30px);
}

.clients__link {
  @include flex-centered;
  @include bordered('socials-link');
  width: 170px;
  height: 92px;
  color: getColor('socials-link');
  transition: color var(--tra), border-color var(--tra);

  &:hover,
  &:focus {
    color: getColor('accent');
    border-color: getColor('accent');
  }
}
