@use '../utils/colors' as c;
@use '../utils/mixins' as m;

.clients {
  @include m.set-gap(30px);
}

.clients__link {
  @include m.flex-centered;
  @include m.bordered('socials-link');
  width: 170px;
  height: 92px;
  color: c.getColor('socials-link');
  transition: color var(--tra), border-color var(--tra);

  &:hover,
  &:focus {
    color: c.getColor('accent');
    border-color: c.getColor('accent');
  }
}
