.clients {
  @include set-gap(30px);
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  color: getColor('socials-link');
  border: 1px solid getColor('socials-link');
  border-radius: 4px;
  transition: color var(--tra), border-color var(--tra);

  &:hover,
  &:focus {
    color: getColor('accent');
    border-color: getColor('accent');
  }
}
