@use '../utils/colors' as c;
@use '../utils/mixins' as m;

.features {
  @include m.set-gap(30px);

  &__item {
    flex-basis: calc((100% - 3 * 30px) / 4);
  }

  &__thumb {
    @include m.flex-centered;
    height: 120px;
    margin-bottom: 30px;
    background-color: c.getColor('additional-bg');
  }

  &__subtitle {
    @include m.text-style(700, 14px, 1.14);
    margin-bottom: 10px;
    color: c.getColor('title-text');
  }

  &__text {
    @include m.text-style(400, 14px, 1.71);
  }
}
