.page-header__logo {
  color: var(--white-color);
  margin-bottom: 20px;
}

.social__link--footer {
  color: var(--white-color);
  background-color: var(--background-footer-icon-color);
  transition: background-color var(--tra);
}

.social__link--footer:hover,
.social__link--footer:focus {
  background-color: var(--accent-color);
}
