@use '../utils/colors' as c;
@use '../utils/mixins' as m;

.page-footer {
  padding-block: 60px;
  background-color: c.getColor('secondary-bg');

  &__inner {
    padding-top: 12px;
  }

  &__slogan {
    @include m.text-style(700, 14px, 1.17);
    margin-bottom: 20px;
    color: c.getColor('primary-bg');
    text-transform: uppercase;
  }
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  @include m.text-style(400, 14px, 1.5);
  color: c.getColor('secondary-text');
  transition: color var(--tra);

  &--colored {
    @extend .address__link;
    color: c.getColor('primary-bg');
  }

  &:hover,
  &:focus {
    color: c.getColor('accent');
  }
}

.form {
  padding-top: 12px;

  &__fieldset {
    @include m.set-gap(12px);
  }

  &__slogan {
    @extend .page-footer__slogan;
  }
}

.form__input {
  @include m.text-style(400, 16px, 1.25);
  @include m.bordered('form-input-border');
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  color: c.getColor('secondary-text');
  background-color: c.getColor('secondary-bg');
  outline: transparent;
  box-shadow: c.getColor('btn-input-shadow');
  transition: border-color var(--tra);

  &::placeholder {
    @include m.text-style(400, 16px, 1.25);
    color: c.getColor('secondary-text');
  }

  &:focus {
    border-color: c.getColor('accent');
  }
}
