@use '../utils/colors' as c;
@use '../utils/mixins' as m;

.page-header {
  border-bottom: 1px solid c.getColor('primary-border');

  &__nav {
    @include m.flex-alignment(align-items, 93px);
  }
}

.site-nav {
  @include m.set-gap(50px);
}

%header-link {
  padding-block: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--tra);

  &:hover,
  &:focus {
    color: c.getColor('accent');
  }
}

.site-nav__link {
  @extend %header-link;
  display: block;
  color: c.getColor('title-text');

  &--current {
    @extend .site-nav__link;
    position: relative;
    color: c.getColor('accent');

    &::after {
      @include m.position(bottom, 0, left, 0);
      content: '';
      width: 100%;
      height: 4px;
      background-color: c.getColor('accent');
      border-radius: 2px;
      transform: scaleX(1.1);
    }
  }
}

.contacts {
  @include m.set-gap(30px);
}

.contacts__link {
  @include m.flex-alignment(align-items, 10px);
  @extend %header-link;
  color: c.getColor('primary-text');
}
