.page-header {
  border-bottom: 1px solid getColor('primary-border');
}

.nav {
  @include set-gap(93px);
  align-items: center;

  &__list {
    @include set-gap(50px);
  }
}

%header-link {
  padding-block: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--tra);

  &:hover,
  &:focus {
    color: getColor('accent');
  }
}

.nav__link {
  @extend %header-link;
  display: block;
  color: getColor('title-text');

  &--current {
    @extend .nav__link;
    position: relative;
    color: getColor('accent');

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 4px;
      background-color: getColor('accent');
      border-radius: 2px;
      transform: scaleX(1.1);
    }
  }
}

.contacts {
  @include set-gap(30px);
}

.contacts__link {
  @include set-gap(10px);
  @extend %header-link;
  align-items: center;
  color: getColor('primary-text');
}
