@use '../utils/colors' as c;
@use '../utils/mixins' as m;

.hero {
  margin-inline: auto;
  padding-top: 200px;
  max-width: 1600px;
  min-height: 600px;
  text-align: center;
  background: {
    image: linear-gradient(c.getColor('hero-grad'), c.getColor('hero-grad')),
      url(../../images/bg-img-hero.jpg);
    repeat: no-repeat;
    position: top;
    size: cover;
    color: c.getColor('secondary-bg');
  }

  &__title {
    @include m.text-style(900, 44px, 1.36, 0.06em);
    margin: {
      inline: auto;
      bottom: 30px;
    }
    max-width: 696px;
    color: c.getColor('primary-bg');
    text-transform: uppercase;
  }
}
