.backdrop {
  @include position(top, 0, left, 0, fixed);
  width: 100%;
  height: 100%;
  background-color: getColor('backdrop-bg');
  transition: opacity var(--tra);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  @include position(top, 50%, left, 50%);
  width: 528px;
  padding: 40px;
  background-color: getColor('primary-bg');
  border-radius: 4px;
  transform: translate(-50%, -50%) scaleY(1);
  box-shadow: getColor('box-shadow');
  transition: transform var(--tra);

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scaleY(0.9);
  }
}

.modal__close-button {
  @include position(top, 8px, right, 8px);
  @include circle(30px);
  padding: 0;
  color: getColor('base-dark');
  background-color: transparent;
  border: 1px solid getColor('close-btn-border');
  transition: color var(--tra);

  &:hover,
  &:focus {
    color: getColor('accent');
  }
}
