.grid {
  @include set-gap(30px, grid);
  grid-template-columns: repeat(3, 1fr);
}

.project {
  display: block;
  transition: box-shadow var(--tra);

  &:hover,
  &:focus {
    box-shadow: getColor('project-link-shadow');
  }

  &__thumb {
    position: relative;
    overflow: hidden;
  }

  &__content {
    @include partial-bordered('secondary-border');
    padding: 20px 24px;
  }

  &__subtitle {
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: getColor('title-text');
  }

  &__desc {
    font-size: 16px;
    line-height: 1.88;
    color: getColor('primary-text');
  }
}

.project__overlay {
  @include position(bottom, 0, left, 0);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: getColor('primary-bg');
  background-color: getColor('overlay-bg');
  transform: translateY(100%);
  transition: transform var(--tra);

  .project:hover &,
  .project:focus & {
    transform: translateY(0);
  }
}
