@use '../utils/colors' as c;
@use '../utils/mixins' as m;

.grid {
  @include m.set-gap(30px, grid);
  grid-template-columns: repeat(3, 1fr);
}

.project {
  display: block;
  transition: box-shadow var(--tra);

  &:hover,
  &:focus {
    box-shadow: c.getColor('project-link-shadow');
  }

  &__thumb {
    position: relative;
    overflow: hidden;
  }

  &__content {
    @include m.partial-bordered('secondary-border');
    padding: 20px 24px;
  }

  &__subtitle {
    @include m.text-style(700, 18px, 2, 0.06em);
    margin-bottom: 4px;
    color: c.getColor('title-text');
  }

  &__desc {
    @include m.text-style(400, 16px, 1.88);
    color: c.getColor('primary-text');
  }
}

.project__overlay {
  @include m.position(bottom, 0, left, 0);
  @include m.text-style(400, 18px, 1.56);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  color: c.getColor('primary-bg');
  background-color: c.getColor('overlay-bg');
  transform: translateY(100%);
  transition: transform var(--tra);

  .project:hover &,
  .project:focus & {
    transform: translateY(0);
  }
}
