@use '../utils/colors' as c;
@use '../utils/mixins' as m;

.works {
  @include m.set-gap(30px);

  &__item {
    position: relative;
  }

  &__subtitle {
    @include m.position(bottom, 0, left, 0);
    @include m.text-style(700, 14px, 1.14);
    width: 100%;
    padding-block: 27px;
    color: c.getColor('primary-bg');
    text: {
      align: center;
      transform: uppercase;
    }
    background-color: c.getColor('works-title-bg');
  }
}
