.works {
  @include set-gap(30px);

  &__item {
    position: relative;
  }

  &__subtitle {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-block: 27px;
    font-size: 14px;
    line-height: 1.14;
    color: getColor('primary-bg');
    text-align: center;
    text-transform: uppercase;
    background-color: getColor('works-title-bg');
  }
}
